body{
    background-color: wheat;

    width: 100vw;
}

.products{
    background-color: rgb(25, 83, 95);
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 3em;
    border: 2em solid rgb(25, 83, 95);
    margin: 0 auto; 
    border-radius: 60px 60px 60px 60px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: max-content;
    width: auto;


    

}


table tr td{
    
    width:30vh;
    height: 30vh;
    background-color:#b8b8b8;
    padding: 3px;
    
    
}




.pcontainer{

    padding: 10px;
    border-radius: 60px 0px 0px 35px;
    background-color: #b8b8b8;
}

.pic{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 60px 35px 60px 35px;
}

.price{
    border-radius: 0px 35px 60px 0px;
}

